%h6
  New Forwarder Record -
  = @domain.name

%hr

.row
  .col-md-6
    = form_for(@forwarder, url: new_forwarder_record_path(@domain.name), html: {class: "form-horizontal"}) do |f|

      - if @forwarder.errors.any?
        #error_explanation
          %h2
            = pluralize(@forwarder.errors.count, "error")
            prohibited this article from being saved:
          %ul
            - @forwarder.errors.full_messages.each do |msg|
              %li
                = msg

      .form-group
        = f.label :name, "Domain Name", class: " col-md-3 control-label"
        .col-md-9
          = f.text_field :name, autofocus: true, class: "form-control", placeholder: @domain.name

      .form-group
        = f.label :content, "Forward to", class: " col-md-3 control-label"
        .col-md-9
          = f.text_field :content, autofocus: true, class: "form-control"

      .form-group
        .col-md-offset-3.col-md-9
          %button.btn.btn-primary{:type => "submit"}
            Create
          %a{href: "/domains/#{@domain.name}", class: "btn btn-default"}
            Cancel
