%h6
  New #{@record.type} Record -
  = @domain.name

%hr

.row
  .col-md-6
    = form_for(:record, url: record_path, html: {class: "form-horizontal"}) do |f|
      = f.hidden_field :type, value: @record.type

      - if @record.errors.any?
        .alert.alert-danger
          %h4
            Sorry, there was an error.
          %ul
            - @record.errors.full_messages.uniq.each do |msg|
              %li
                = msg

      .form-group
        = f.label :name, "Domain Name", class: " col-md-3 control-label"
        .col-md-9
          = f.text_field :name, autofocus: true, class: "form-control", placeholder: @domain.name

      - if @record.type == "MX"
        .form-group
          = f.label :prio, "Priority", class: " col-md-3 control-label"
          .col-md-9
            = f.number_field :prio, value: 1, class: "form-control", min: 1

      .form-group
        = f.label :content, "Value", class: " col-md-3 control-label"
        .col-md-9
          = f.text_field :content, autofocus: true, class: "form-control"

      .form-group
        = f.label :ttl, "TTL", class: " col-md-3 control-label"
        .col-md-9
          = f.select :ttl, TTL, {include_blank: false, selected: 3600}, {class: 'form-control'}

      .form-group
        .col-md-offset-3.col-md-9
          %button.btn.btn-primary{:type => "submit"}
            Create
          %a{href: "/domains/#{@domain.name}", class: "btn btn-default"}
            Cancel
