html
  position: relative
  min-height: 100%

body
  margin-bottom: 128px
  padding-top: 80px

.footer
  height: 108px
  width: 100%
  position: absolute
  bottom: 0

.tile
  p
    margin: 15px 0

table.domains
  th.controls
    width: 265px

table.records
  th.controls
    width: 182px

td.content
  max-width: 520px
  overflow: hidden
  word-break: break-all !important

.cta
  margin-bottom: 80px
  margin-top: 20px

  .col-lg-6
    height: 100%

  .cta-content
    text-align: center

    h1
      font-size: 55px
      font-weight: 900
      line-height: 51px
      text-transform: uppercase

    .tagline
      font-size: 22px
      font-style: normal
      font-weight: 300
      margin: 30px 0

    .actions
      a
        font-size: 20px
        font-weight: 600
        margin-right: 15px

        &:hover
          font-weight: 600

.expiry
  display: inline-block
  width: initial

.separator
  display: inline-block
  padding: 0 10px
