.row.cta
  .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12
    .cta-content
      %h1
        Take back control of your DNS service.

      %h2.tagline
        30 day free trial, No credit card required

      .actions
        %a{href: new_user_registration_path, class: "btn btn-primary"}
          Take Control Now

.row
  .col-lg-4.col-md-4.col-sm-4
    .tile
      = image_tag("icons/svg/card.svg", class: "tile-image")
      %h3.tile-title
        Cheap
      %p
        Each domain hosted only costs $2 per month.

  .col-lg-4.col-md-4.col-sm-4
    .tile
      = image_tag("icons/svg/pig.svg", class: "tile-image")
      %h3.tile-title
        30 Day Trial
      %p
        All accounts come with a 30 day free trial.

  .col-lg-4.col-md-4.col-sm-4
    .tile
      = image_tag("icons/svg/user-interface.svg", class: "tile-image")
      %h3.tile-title
        Simple Interface
      %p
        Simple clean no fuss interface.

.row
  .col-lg-4.col-md-4.col-sm-4
    .tile
      = image_tag("icons/svg/arrow.svg", class: "tile-image")
      %h3.tile-title
        Forwarder Records
      %p
        Forward any non ssl record to a different record.

  .col-lg-4.col-md-4.col-sm-4
    .tile
      = image_tag("icons/svg/box.svg", class: "tile-image")
      %h3.tile-title
        Templates*
      %p
        Quickly add the some of the most popular services.

  .col-lg-4.col-md-4.col-sm-4
    .tile
      = image_tag("icons/svg/rocket.svg", class: "tile-image")
      %h3.tile-title
        Powerful API*
      %p
        Easily manage your DNS records via our api.


.row
  .col-lg-12.col-md-12.col-sm-12
    %p
      %i
        * Coming soon...
