%h6
  Domains -
  = @domain.name

%hr

%p
  .dropdown
    %button.btn.btn-primary{"data-toggle" => "dropdown", :type => "button"}
      New Record
      %span.caret
    %ul.dropdown-menu
      %li
        %a{:href => new_a_record_path(@domain.name)}
          A Record
      %li
        %a{:href => new_aaaa_record_path(@domain.name)}
          AAAA Record
      %li
        %a{:href => new_cname_record_path(@domain.name)}
          CNAME Record
      %li
        %a{:href => new_forwarder_record_path(@domain.name)}
          FORWARD Record
      %li
        %a{:href => new_mx_record_path(@domain.name)}
          MX Record
      %li
        %a{:href => new_spf_record_path(@domain.name)}
          SPF Record
      %li
        %a{:href => new_srv_record_path(@domain.name)}
          SRV Record
      %li
        %a{:href => new_txt_record_path(@domain.name)}
          TXT Record

- if !@records.blank?
  .table-responsive
    %table.table.table-bordered.table-hover.records
      %thead
        %tr
          %th.record
            Record
          %th.type
            Type
          %th.ttl
            TTL
          %th.content
            Value
          %th.controls
      %tbody
        - @forwarders.each do |forward|
          %tr
            %td
              = forward.name
            %td
              FORWARDER
            %td

            %td
              = forward.content
            %td
              %button{class: "btn btn-primary", disabled: true}
                edit
              = link_to "delete", "/domains/#{@domain.name}/records/forwarder/#{forward.id}", method: :delete, class: "btn btn-danger", :data => {:confirm => 'Are you sure?'}

        - @records.each do |record|
          %tr.record
            %td
              = record.name
            %td
              = record.type
            %td
              - if record.ttl.blank?
                3600
              - else
                = record.ttl
            %td.content
              - if record.type == "MX"
                #{record.prio} #{record.content}
              - else
                = record.content
            %td
              - if record.type == "SOA" || record.type == "NS" || !record.forwarder_id.nil?
                %button{class: "btn btn-primary", disabled: true}
                  edit
                %button{class: "btn btn-danger", disabled: true}
                  delete
              - else
                = link_to "edit", "/domains/#{@domain.name}/records/#{record.id}", class: "btn btn-primary"
                = link_to "delete", "/domains/#{@domain.name}/records/#{record.id}", method: :delete, class: "btn btn-danger", :data => {:confirm => 'Are you sure?'}
