%h6
  Domains

%hr

%p
  = link_to "New Domain", new_domain_path, class: "btn btn-primary"

- if Domain.enabled_count(current_user.id) < current_user.domains.count
  .alert.alert-warning
    %button.close.fui-cross{"data-dismiss" => "alert", :type => "button"}
    Domains must be enabled before they will resolve. You are only charged for enabled domains.

- if !@domains.blank?
  .table-responsive
    %table.table.table-bordered.table-hover.domains
      %thead
        %tr
          %th
            Domain
          %th
            Records
          %th
            Expires In
          %th.controls
      %tbody
        - @domains.each do |domain|
          %tr.domain
            %td
              = domain.name
            %td
              = domain.records.count
              Records
            %td
              - if domain.whois_record && domain.whois_record.expires_on
                - if domain.whois_record.expires_on > Time.now
                  = distance_of_time_in_words(Time.now, domain.whois_record.expires_on)
                - else
                  = distance_of_time_in_words(domain.whois_record.expires_on, Time.now)
                  ago
              - else
                Unknown
            %td
              = link_to "edit", "/domains/#{domain.name}", class: "btn btn-primary"
              = link_to domain.enabled? ? "disable" : "enable", "/domains/#{domain.name}/#{domain.enabled? ? 'disable' : 'enable'}", class: "btn #{domain.enabled? ? 'btn-warning' : 'btn-primary'}", method: :post, :data => {:confirm => 'Are you sure?'}
              = link_to "delete", "/domains/#{domain.name}", method: :delete, class: "btn btn-danger", :data => {:confirm => 'Are you sure?'}
