%h6
  Domains - New Domain

%hr

.row
  .col-md-6
    = form_for(@domain, url: domain_path, html: {class: "form-horizontal"}) do |f|
      - if @domain.errors.any?
        .alert.alert-danger
          %h4
            Sorry, there was an error.
          %ul
            - @domain.errors.full_messages.uniq.each do |msg|
              %li
                = msg

      .form-group
        = f.label :name, "Domain Name", class: " col-md-3 control-label"
        .col-md-9
          = f.text_field :name, autofocus: true, class: "form-control", placeholder: "example.com"

      .form-group
        .col-md-offset-3.col-md-9
          %button.btn.btn-primary{:type => "submit"}
            Create
          %a{href: "/domains", class: "btn btn-default"}
            Cancel

  .col-md-6
    %p
      To use DNS Labs you will need to update your name servers to the following records -

    %p
      %ul
        %li
          ns1.dnslabs.co (104.197.71.175)
        %li
          ns2.dnslabs.co (104.196.15.154)
        %li
          ns3.dnslabs.co (104.155.196.107)
        %li
          ns4.dnslabs.co (104.155.40.204)
