.row
  .col-md-6.col-md-offset-3
    = devise_error_messages!
    .panel.panel-primary
      .panel-heading
        %h3.panel-title
          DNS Labs - Log In

      .panel-body
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f|
          .form-group
            = f.label :email, class: " col-md-4 control-label"
            .col-md-8
              = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email"
          .form-group
            = f.label :password, class: " col-md-4 control-label"
            .col-md-8
              = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"
          .form-group
            .col-md-offset-4.col-md-8
              %button.btn.btn-primary{:type => "submit"}
                Sign in
              %a{href: "/", class: "btn btn-default"}
                Cancel
