!!!
%html
  %head
    %title
      DNS Labs
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
    %script{:src => "https://use.typekit.net/hdq2not.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-69155745-1', 'auto');
      ga('send', 'pageview');

    = csrf_meta_tags
  %body
    .container
      = yield
