%h6
  Account - Add payment

%hr

.row
  .col-md-6

    = form_for(:payment, url: process_payment_path, html: {id: "payment-form", class: "form-horizontal"}) do |f|
      %div{class: "alert alert-danger", style: 'display:none;'}
        %button.close.fui-cross{"data-dismiss" => "alert", :type => "button"}
        %span.payment-errors

      .form-group
        = f.label :name, "Card Number", class: " col-md-4 control-label"
        .col-md-8
          %input{"data-stripe" => "number", :size => "20", :type => "text", class: "form-control", placeholder: "1234 1234 1234 1234"}

      .form-group
        %label{class: "col-md-4 control-label"}
          CVC
        .col-md-8
          %input{"data-stripe" => "cvc", :size => "4", :type => "text", class: "form-control", placeholder: "123", min: 000, max: 999}

      .form-group
        %label{class: "col-md-4 control-label"}
          Expiration (MM/YYYY)
        .col-md-8
          %input{"data-stripe" => "exp-month", :size => "2", :type => "text", class: "form-control expiry", placeholder: Time.now.strftime('%m')}
          %span.separator
            \/
          %input{"data-stripe" => "exp-year", :size => "4", :type => "text", class: "form-control expiry", placeholder: Time.now.strftime('%Y')}

      .form-group
        .col-md-offset-4.col-md-8
          %button.btn.btn-primary{:type => "submit"}
            Submit

  .col-md-6
    %p
      Your credit card details are submitted to Stripe to verify you are a real person.
    %p
      You will not be charged until the end of your 30 day trial.
      %br
      All credit card details are processed via Stripe.
    %p
      = image_tag("powered-by-stripe.png")


:javascript
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey("#{PUBLIC_KEY}");

  var stripeResponseHandler = function(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
      $form.find('.alert').show();
    } else {
      // token contains id, last4, and card type
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and re-submit
      $form.get(0).submit();
    }
  };

  jQuery(function($) {
    $('#payment-form').submit(function(e) {
      var $form = $(this);

      // Disable the submit button to prevent repeated clicks
      $form.find('button').prop('disabled', true);

      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from submitting with the default action
      return false;
    });
  });
