%h1
  Accounts#upgrade
%p
  Find me in app/views/accounts/upgrade.html.haml

%p
  Please upgrade your account
  %br
  All credit card details are processed via Stripe.

= form_for(@account, url: upgrade_path, html: {class: ""}) do |f|

  %fieldset
    %p
      = f.radio_button :plan, "basic2015", disabled: @account.basic?
      = f.label :plan_basic, "basic"
      \$5 mth - 5 Domains
    %p
      = f.radio_button :plan, "plus2015", disabled: @account.plus?
      = f.label :plan_plus, "plus"
      \$25 mth - 25 Domains
    %p
      = f.radio_button :plan, "unlimited2015", disabled: @account.unlimited?
      = f.label :plan_unlimited, "unlimited"
      \$100 mth - Unlmited Domains

  %button
    Create
